@use 'var';

body {
    display: flex;
    justify-content: center;
}

group {
    display: grid;
    grid-template-columns: var.$pad-size var.$pad-size var.$pad-size;
    grid-template-rows: var.$pad-size var.$pad-size var.$pad-size; 
    column-gap: 10px;
    row-gap: 10px;
    transform: perspective(800px) rotate3d(1, 0, 0, 60deg);
}