@use 'var';

@keyframes slide {
    from {transform: translateX(-30%);}

    to {transform: translateX(-130%);}
}

collection {
    transform: var.$pad-perspective;
    display: flex;
}

group {
    padding: 5px;
    display: grid;
    grid-template-columns: var.$pad-size var.$pad-size var.$pad-size;
    grid-template-rows: var.$pad-size var.$pad-size var.$pad-size; 
    column-gap: 10px;
    row-gap: 10px;
    animation: 2s slide infinite linear;
}